body{
	background: #E0FFFF;
}
#container{
	width: 640px;
	margin: 50px auto;
}

.errors{
	margin-top: 10px;
	width: 300px;
	border-top-style: dotted;
}

.validation_error:first-child{
	border-top: 1px dashed #CCCCCC;
	clear: both;
	padding-top: 10px;
}

.validation_error{
	color: #CC3333;
	font-size: 13px;
	font-style: italic;
}

